// main wrapper
.main-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}



// header 
.header {
  display: grid;
  justify-items: left;
  align-items: center;
  grid-template-columns: 300px auto 200px 150px 60px;
}
.select__option {
  height: 30px;
  width: 150px;
}

// cart
.cart {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
  background: gray;
  font-size: 30px;
  z-index: 10;
  display: grid;
  place-items: center;
  .cart__items{
    position: absolute;
    background: gray;
    padding: 10px;
    top: 50px;
    right: 0;
    .cart__item {
      border: 2px solid black;
      margin: 10px 0;
      padding: 10px;
      display: grid;
      place-items: center;
      grid-template-columns: auto 300px 1fr auto;
      grid-gap: 5px;
      img {
        width: 80px;
        height: 100px;
      }
      button {
        height: 30px;
        margin-left: 0px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}

// sizes 
.sizes {
  text-align: center;
  button{
    margin: 5px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 22px;
  }
}
.white {
  background: white;
  color:black;
}
.black {
  background: black;
  color:white;
}

// product
.products {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 20px;
}
.product{
  display: grid;
  justify-items: center;
  padding: 10px;
  &:hover{
    border: 1px solid gray;
  }
}
h4{
  text-align: center;
}
button{
  // display: inline-block;
  width: 98%;
  height: 50px;
}
.product__image {
  width: 100%;
  height: auto;
}