.App {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

// block wrapper 
.wrapper{
  width: 100%;
  border: 2px solid rgb(255, 119, 141);
  margin: 20px 0;
  padding: 10px 0;
}

//input type
.input__field {
  display: grid;
  margin:20px 0;
  grid-template-columns: 1fr auto;
  width: 100%;
  input {
    height: 30px;
  }
  button {
    width: 100px;
  }
}

// undo and redo
.undo, .redo {
  height: 30px;
  width: 60px;
  margin: 5px;
  background: rgb(255, 204, 215);
  border: none;
}

// search
.search {
  width: 80%;
  display: block;
  margin: 20px auto;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
}


// packed items
.packed__items{
  text-align: left;
}
.packed__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
  width: 100%;
  align-items: center;
}
.unpacked__items{
  text-align: left;
  width: 100%;
}
h3{
  background: pink;
  padding: 5px 0;
}
h4{
  margin: 5px 0;
}
.unpacked__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
  width: 500px;
  align-items: center;
}
